<div class="table-responsive">
    <table id="tickets" class="table table-striped table-bordered table-hover dt-responsive nowrap">
        <thead>
            <tr>
                <th>Mã vé</th>
                <th>Tuyến</th>
                <th>Xe</th>
                <th>Số ghế</th>
                <th>Khách hàng</th>
                <th>Giá vé</th>
                <th>Thời gian</th>
                <th>Điểm đón</th>
                <th>Điểm trả</th>
                <th>Chính sách huỷ</th>
                <th>Xác nhận</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    var table = $("#tickets").DataTable({
        processing: true,
        serverSide: true,
        bLengthChange: false,
        paging: true,
        pageLength: 10,
        autoWidth: false,
        language: {
            info: "Đang hiển thị trang _PAGE_ / _PAGES_",
            search: "Tìm kiếm",
            paginate: {
                previous: "Trước",
                next: "Sau"
            }
        },
        ajax: {
            url: window.location.href,
            type: "GET",
            dataType: "json"
        },
        columns: [{
                data: "objectId",
                class: "text-left",
                orderable: false,
                visible: true,
                render: function (data, type, row) {
                    if (row.objectId !== undefined && row.objectId !== null)
                        return row.objectId;
                    else return "";
                }
            },
            {
                data: "idTuyen",
                class: "text-left",
                orderable: true,
                render: function (data, type, row) {
                    if (row.idTuyen !== undefined && row.idTuyen !== null) return row.idTuyen.idLoTrinh
                        .huyenTinhDi + ' - ' + row.idTuyen.idLoTrinh.huyenTinhDen;
                    else return "";
                }
            },
            {
                data: "idTuyen",
                class: "text-left",
                orderable: true,
                render: function (data, type, row) {
                    if (row.idTuyen !== undefined && row.idTuyen !== null) return row.idTuyen.idXe.bienSo +
                        ' - ' + row.idTuyen.idXe.chiTiet;
                    else return "";
                }
            },
            {
                data: "idCho",
                class: "text-center",
                orderable: true,
                render: function (data, type, row) {
                    if (row.idCho !== undefined && row.idCho !== null) return row.idCho;
                    else return "";
                }
            },
            {
                data: "khachHang",
                class: "text-left",
                orderable: false,
                render: function (data, type, row) {
                    if (row.hoTenKhach !== undefined && row.sdtKhach !== undefined)
                        return row.hoTenKhach + ' - ' + row.sdtKhach;
                    else
                        return "";
                }
            },
            {
                data: "giaVe",
                class: "text-right",
                orderable: true,
                render: function (data, type, row) {
                    if (row.giaVe !== undefined && row.giaVe !== null)
                        return row.giaVe.toLocaleString(
                            undefined, {
                                minimumFractionDigits: 0
                            }) + " VNĐ";
                    else return "";
                }
            },
            {
                data: "idTuyen",
                class: "text-right",
                orderable: true,
                render: function (data, type, row) {
                    if (row.idTuyen !== undefined && row.idTuyen !== null) {
                        return convertToTime(row.idTuyen.thoiGianKhoiHanh);
                    } else return "";
                }
            },
            {
                data: "diemDon",
                class: "text-left",
                orderable: true,
                render: function (data, type, row) {
                    if (row.diemDon !== undefined && row.diemDon !== null) return row.diemDon;
                    else return "";
                }
            },
            {
                data: "diemTra",
                class: "text-left",
                orderable: true,
                render: function (data, type, row) {
                    if (row.diemTra !== undefined && row.diemTra !== null) return row.diemTra;
                    else return "";
                }
            },
            {
                data: "chinhSachHuy",
                class: "text-center",
                orderable: true,
                render: function (data, type, row) {
                    if (row.chinhSachHuy !== undefined && row.chinhSachHuy !== null) {
                        return row.chinhSachHuy;
                    } else return "";
                }
            },
            {
                data: "trangThai",
                class: "text-center",
                orderable: true,
                render: function (data, type, row) {
                    if (row.trangThai !== undefined && row.trangThai !== null && row.trangThai ===
                        'CONFIRMED') {
                        return (
                            '<p class="text-active">OK</p>'
                        );
                    } else {
                        return (
                            '<p class="text-inactive">Chưa</p>'
                        );
                    }
                }
            },
            {
                data: "trangThai",
                class: "text-center",
                orderable: false,
                render: function (data, type, row) {
                    if (row.trangThai !== 'CONFIRMED') {
                        return (
                            '<button class="btn btn-default btn-confirm" data-id="' +
                            row.objectId + '">' +
                            'Xác nhận</button>'
                        );
                    } else {
                        return null;
                    }
                }
            }
        ]
    });

    $(document).on("click", "button.btn-confirm", function (event) {
        $("#notificationAlert").hide();
        const data = {
            id: $(this).attr("data-id")
        };
        $.ajax({
                type: "POST",
                url: "/dashboard/tickets/cancelled/confirmation",
                data: data
            })
            .done(res => {
                table.ajax.reload(null, false);
            })
            .catch(err => {
                showSnackbar(err);
            });
    });

    function convertToTime(thoiGian) {
        if (thoiGian) {
            if (thoiGian.iso) {
                return moment(thoiGian.iso).format('DD/MM/YYYY');
            } else {
                return moment(thoiGian).format('DD/MM/YYYY');
            }
        } else {
            return "- - -";
        }
    }
</script>