<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> [<%= user.role %>]</h1>
    <p>Welcome</p>
    <p>EC1810 - FIT - HCMUS</p>
  </body>
</html>
